.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--text-over-primary);
  border: none;
  min-width: 24rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  margin: 3.2rem 0;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}
